.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }
  
  .button-wrapper a {
    margin-top: 4em;
  }
  
  .button {
    font-size: 20px;
    border-radius: 12px;
    padding: 8px;
    background-color: #647cd8;
    color: white;
    cursor: pointer;
    transition: 0.4s;
    box-shadow: 3px 3px 0.8px rgba(0, 0, 0, 0.8);
    width: 5em;
  }
  
  .button:hover {
    transform: scale(1.1);
    background-color: #3c4b85;
  }
  
  @media screen and (max-width: 1024px) {
    .button-wrapper a {
      margin-top: 5.5em;
    }
  }
  