.text1 {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    line-height: 200px; 
  }

  .vertikal {
    border-left: 1px solid #ccc;
    height: 100%;
    width: 2px;
    background-color: #000;
    margin: 0 20px;
    
  }
  
  .skills-container {
    display: flex;
    margin-top: 40px;
    align-items: stretch;
    justify-content: space-between;
  }

  .edu-org {
    display: flex;
  }
  
  .edu-org-item {
    flex-basis: 50%;
  }
  
  .skills-item {
    flex-basis: 50%;
    flex-grow: 1;
  }
  