.intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    flex-wrap: wrap;
    margin-top: 4em;
  }
  
  .intro-name {
    margin-left: 15px;
    width: 40%;
  }
  
  .intro-image {
    margin-left: 4.2em;
    background-color: rgb(17, 20, 20);
    border-radius: 40px;
    padding: 0;
    width: 20em;
    cursor: pointer;
    max-height: 23em;
  }
  
  .intro-image2 {
    background-color: #29335c;
    transform: rotate(32deg);
    border-radius: 40px;
    transition: 0.6s;
    width: 20em;
  }
  .intro-image2:hover {
    transform: rotate(0deg);
    box-shadow: 0 15px 25px rgba(20, 8, 248, 0.5);
  }
  
  .intro-image img {
    margin-bottom: 0;
    display: flex;
    margin: auto;
  }
  
  .text1 {
    font-size: 60px;
    font-weight: bold;
  }
  
  .text2 {
    font-size: 45px;
  }
  
  .text3 {
    font-size: 30px;
  }
  
  .text4 {
    font-size: 17px;
    font-weight: lighter;
    text-align: justify;
  }
  
  @media screen and (max-width: 1024px) {
    .intro {
      display: flex;
      flex-direction: row;
    }
  
    .intro-name {
      width: 90%;
    }
  
    .intro-image {
      margin-left: 0;
    }
  
    .intro-image img {
      width: 14em;
      margin: auto;
      display: flex;
    }
  }
  
  @media screen and (max-width: 500px) {
    .intro-image img {
      width: 8em;
    }
    .intro-image {
      width: 13em;
    }
  
    .intro-image2 {
      width: 13em;
    }
  
    .text1 {
      font-size: 50px;
      font-weight: bold;
    }
  
    .text2 {
      font-size: 35px;
    }
  
    .text3 {
      font-size: 25px;
    }
  
    .text4 {
      font-size: 15px;
    }
  }
  